* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #A9B3E9;
    width: 100%;
    height: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: #F3F3F3;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

nav ul li {
    position: relative;
    flex: 1;
    text-align: center;
    font-size: 17px;
}

nav ul li img{
    height: 5em;
    margin-top: 5px; /* adjust to align the logo with the text */
    margin-bottom: 5px;
}

nav ul li:hover {
    background-color: lightgray;
    opacity: 0.9;
}

nav ul li a {
    display: flex;
    color: #C08497;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 20px;
        padding-right: 1em;
        padding-left: 1em;
        }
    
    nav ul {
    flex-direction: column;
    }

    nav ul li {
    flex: unset;
    width: 100%;
    }

    nav ul li img{
    margin-top: 0px;
    margin-bottom: 0px;
    }
}  

.ContenedorBanner img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
  
    @media only screen and (max-width: 768px) {
        .ContenedorBanner {
            max-width: 100%;
            flex-direction: column;
            justify-content: center;
            
            }
        }
.apoyanos{
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    padding: 5px 30px 30px 30px;
    width: 100%;
    margin:0 auto;
    max-width: 1200px;
}

@media only screen and (max-width: 768px) {
    .apoyanos{
        grid-template-columns: repeat(1, 1fr);
                    }
                }

.voluntariado img{
 width: 300px;
height: auto;
border-radius: 25px;
 }

.donaciones img{
width: 300px;
height: auto;
border-radius: 25px;
}

.hogarpaso img{
    width: 300px;
    height: auto;
    border-radius: 25px;
    
}

.voluntariado{
box-sizing: border-box;
padding: 30px 30px 30px 30px;
border-radius: 25px;
background-color: #f4f4f4;
text-align: justify;

}

.donaciones{
    box-sizing: border-box;
    padding: 30px 30px 30px 30px;
    border-radius: 25px;
    background-color: #f4f4f4;
    text-align: justify;
    }

.hogarpaso{
box-sizing: border-box;
padding: 30px 30px 30px 30px;
border-radius: 25px;
background-color: #f4f4f4;
text-align: justify;
    }   

.footer{
    background-color: #C08497;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    text-align: left;
    padding: 20px 20px 20px 20px;
}

.footer p{
    margin: 1em auto 2em;
    padding: 0.8em;
    word-wrap: break-word;
    text-align: justify;
    outline: dashed lightgrey;
}

@media only screen and (max-width: 768px) {
    .footer {
        max-width: 100%;
        flex-direction: column;
        text-align: center;
        
        }
}    
.footer h2{
    margin-bottom: 16px;
}

.Nosotros p{
    max-width: 400px;
}

.margen-inferior-parrafo{
    margin-bottom: 16px;
}

.Nosotros img{
    width: 300px;
    height: auto;
    
}

.redes img{
    padding: 0px 20px 20px 0px;
    width: 100px;
    height: auto;
}
